:root {
  --main_color: #011a30;
  --sky_blue: #08bbb5;
  --sky_blue_1: #07a9a7;
  --sky_blue_2: #068e90;
  --sky_blue_3: #067a80;
  --sky_blue_4: #044e5b;
  --light_green: #5cff61;
  --red: #ff0000;
}
